:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-conteudo-blog {
    background-color: white; 
    
    width: 100%; 
    height: auto; 
    
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
}

.div-p {
    width: 500px; 
    
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    
    margin: 20px;
}

.imgs {
    width: 250px; 
    height: 350px; 
    margin-top: 50px;

    border-top-left-radius: 70px; 
    border-top-right-radius: 70px; 
    border: 10px solid #C3CBB3;
}

.div-btns {
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
}

input {
    width: 100px; 
    height: 30px; 
    
    border: none; 
    border-radius: 10px;

    background-color: #787e6e; 
    color: white; 
        
    font-size: 15px; 
    font-weight: 600; 
}

input:hover {
    background-color: #C3CBB3; 
    cursor: pointer;
}

.btn-editar {
    width: 100px; 
    height: 30px; 
    
    border: none; 
    border-radius: 10px;

    background-color: #3f5f00; 
    color: white; 
        
    font-size: 15px; 
    font-weight: 600; 
}

.btn-editar:hover {
    background-color: #6da300; 
    cursor: pointer;
}

.btn-excluir {
    width: 100px; 
    height: 30px; 
    
    border: none; 
    border-radius: 10px;

    background-color: #7c0000; 
    color: white; 
        
    font-size: 15px; 
    font-weight: 600; 
}

.btn-excluir:hover {
    background-color: #b90101; 
    cursor: pointer;
}