<form [formGroup]="form">
    <div>
        <h3>EDITAR :)</h3>
    </div>
    <div>
        <label>Titulo:</label>
        <input class="input-text" type="text" formControlName="titulo" required>
        <div *ngIf="form.controls.titulo.invalid">
            <p>O titulo é obrigatório*</p>
        </div>
    </div>

    <div>
        <label>Texto:</label>
        <textarea rows="10" cols="50" formControlName="descricao" required></textarea>
        <div *ngIf="form.controls.descricao.invalid">
            <p>A descrição é obrigatoria*</p>
        </div>
    </div>

    <button class="btn-s" type="submit" (click)="cadastrar()">Salvar</button>
</form>